// use sass to compile to css, unable to finish due to time constraint

$tan: #e6e2d3;
$trafficWhite: #f0f0f0;
$yellowGreen: #4caf50;
$vermillioRed: #c94c4c;
$blue: #008cba;

*,
*::before,
*::after {
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  &__add-btn {
    color: white;
    height: 3em;
    width: 10em;
    background-color: $blue;
    border: none;
    border-radius: 1em;
  }
}

table {
  margin-top: 5px;
  padding: 20px 0;
  border: 4px solid $tan;
  width: 600px;
  border-radius: 1em;
  text-align: center;
  border-spacing: 0 15px;
}

.event {
  background-color: $trafficWhite;
  padding: 20px 0;
  width: 100%;
  height: 100%;
  border: 1px solid $tan;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: $yellowGreen;
    color: $trafficWhite;
  }

  &__name {
    width: 100px;
  }

  &__start {
    width: 100px;
  }

  &__end {
    width: 100px;
  }
}
